@model Person

@{
    var organizations = (IList<Organization>)ViewBag.Organizations;
}

<div class="mb-3">
    <label asp-for="FirstName" class="form-label">First name</label>
    <input asp-for="FirstName" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="LastName" class="form-label">Last name</label>
    <input asp-for="LastName" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="Email" class="form-label">Email address</label>
    <input asp-for="Email" class="form-control">
</div>
<div class="mb-3">
    <label asp-for="OrganizationId" class="form-label">Organization</label>
    <select asp-for="OrganizationId" class="form-control">
        <option value="">Please select...</option>
        @foreach (var organization in organizations)
        {
            <option value="@organization.Id">@organization.Name</option>
        }
    </select>
</div>